body {
    font-family: 'Montserrat', sans-serif;
}

header {
    background-color: rgb(22, 21, 28);
    color: white;
    
}

#navbarNavAltMarkup {
    color: white;

}

#contactCards {
    margin-top: 50px;
}

h1 {
    font-weight: 800;
    font-size: 35px;
}

h2 {
    color: #ffffff;
    font-weight: 800;
    font-size: 35px;
}

.form-group {
margin-top: 40px;
}

#nav1, #nav2, #nav3 {
    color: #ffffff;
}

#bioText {
    text-align: center;
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10;
}

.topSection1 {
    text-align: center; 
    color: #ffffff;
    background-image:url(/Images/Marketing.jpg);
    box-shadow:inset 0 0 0 2000px rgb(22, 21, 28, 0.7);
    background-color: rgb(22, 21, 28);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 120px;
    padding-bottom: 120px;
    padding-left: 60px;
    padding-right: 60px;
    text-align: center;
}

.topSection2 {
    text-align: center; 
    color: #ffffff;
    background-image:url(/Chad-2.jpg);
    box-shadow:inset 0 0 0 2000px rgb(22, 21, 28, 0.7);
    background-color: rgb(22, 21, 28);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 120px;
    padding-bottom: 120px;
    padding-left: 60px;
    padding-right: 60px;
    text-align: center;
}

.card {
    text-align: center;
    width: auto;
    box-shadow: 0px 0px 10px 2px #888888;
    margin-bottom: 30px;

}
#personalInfo {
    color: #ffffff;
    background-size:cover;
    background-color: rgb(22, 21, 28);
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 120px;
    padding-bottom: 120px;
    text-align: left;
}

#footer {
    color: #ffffff;
    background-size:cover;
    background-color: rgb(22, 21, 28);
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: left;
}

p {
    font-size: 18px;
    line-height: 2;
    text-align: center;
}

#formFill {
    margin-bottom: 100px;
    margin-top: 50px;
}

#bottomRow {
    margin-bottom: 100px;
}

.btn, #homeButton {
    background-color: rgb(34, 193, 156);
    border: cadetblue;
    border-radius: 15px;
    margin-top: 15px;
    text-align: center;
}

h3 {
    margin-top: 30px;
    margin-bottom: 0px;
    font-stretch: expanded;
    text-align: center;
    font-weight: bold;
}

.container {
    align-content: center;
}

#navbar-brand {
    text-align: center;

}